.ui.text.container.text-container{
    font-size: 1.7rem !important;
    color: white;
    margin-top: 1rem;
    max-width: 100% !important;
}

.social-image:hover{
    transform: scale(1.5); 
}

.social-anchor{
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
}