.head-banner{
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #212121;
    flex-direction: column;
}

.profile-image{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative !important;
    overflow: hidden !important;
    display: inline-block !important;
    width: 300px !important;
    height: 300px !important;
}