.head-banner{
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* background: #212121; */
    flex-direction: column;
}

.profile-image{
    position: relative !important;
    overflow: hidden !important;
    display: inline-block !important;
    width: calc(150px + 15vmin) !important;
    height: calc(150px + 15vmin)  !important;
}

.pointer-icon{
    animation: bounce 2s infinite;
    margin: 2.2rem !important;
    cursor: pointer;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.screen-links{
    padding: 0.2rem;
    color: white;
    font-size: calc(0.75rem + 1vmin);
    cursor: pointer;
}
